@charset "UTF-8";
/*
Bege: #F3E5D8
Marrom:#7D5148
Roxo Claro: #5E3C4C
Roxo Mais Claro: #FFF7FC
*/

* {
  margin: 0px;
  padding: 0px;
}
body,
html {
  background-color: #f3e5d8;
  height: 100vh;
  width: 100vw;
}

header > div#imagem {
  display: block;
  background: #f3e5d8 url(../assets/images/image-omelette.jpeg) no-repeat;
  height: 500px;
  background-size: cover;
  background-position: bottom center;
}
